/* .text {
  display: inline-block;
  color: red;
} */


textarea {
  resize: none;
  /* width: 600px;
  height: 400px; */
}

.inputText:focus {
  outline: none;
  border-color: red;
  color: blue;
  background-color: purple;
}

