table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
	table-layout:fixed; 
  width: 350px;
}

td, th {
  width: 100px;
  overflow: scroll;
}

caption {
  text-align: end;
}

.img_container {
  width: 100px;
}

img {
  width: 130px;
}

/* .contain {
  object-fit: contain;
} */

